In [2]:
# And importing the relevant libraries into our Notebook

import pandas as pd
import numpy as np

This part we load all the datasets that we are going to use in the case

In [41]:
# We load the description file to help understand the data
df_cellDescr = pd.read_excel('cells_geo_description.xlsx')
df_cellDescr

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [43]:
# Loading the data sets and removing the delimiter to format dataset to be easy 
# to read
# Replacing All NaN with Zero;
df_cell = pd.read_csv('cells_geo.csv',delimiter=';')
df_cell.head(5)

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 12 columns]

In [ ]:
# Determine how many Regions associated with an Area
empty_Area_rows = df_cell.groupby('REGION')['AREA'].count().reset_index()
empty_Area_rows.columns = ['REGION','Area null Count']
empty_Area_rows

In [ ]:
# How many area are covered in the dataset
area = df_cell.groupby('AREA').count().reset_index()
area = ['Area','Area Count']
area

In [ ]:
# Loading the CDR description
cdr_decript = pd.read_excel('CDR_description.xlsx')
cdr_decript

In [ ]:

# Loading the CDR Dataset telecom 1
df_telc_1 = pd.read_csv('Telcom_dataset.csv')
df_telc_1.head(6)

In [ ]:
# Loading the CDR Dataset telecom 1
df_telc_2 = pd.read_csv('Telcom_dataset2.csv')
df_telc_2.head(6)

In [ ]:
# Loading the CDR Dataset telecom 1
df_telc_3 = pd.read_csv('Telcom_dataset3.csv')
df_telc_3.head(6)

Data Preparation

   cell Geo dataset

In [ ]:
# Cleaning the Cell_Geo Dataset
prepareCelGoe_df = df_cell.copy(deep=True)

In [40]:
# Check for null values

df_len = prepareCelGoe_df.shape[0]

for column in prepareCelGoe_df.columns:
  null_count = prepareCelGoe_df[column].isnull().sum()
  if null_count == 0:
    continue
  
  null_ratio = np.round(null_count/df_len * 100, 2)
  print( column,"has ",null_count,"null Values ",null_ratio,"%")

STATUS has  67 null Values  1.69 %
ZONENAME has  6 null Values  0.15 %
AREA has  23 null Values  0.58 %

In [ ]:
# fill in missing values

prepareCelGoe_df['AREA'].fillna('Not Known',inplace = True)
prepareCelGoe_df

In [ ]:
prepareCelGoe_df['STATUS'].fillna('out-of Service',inplace = True)
prepareCelGoe_df

In [ ]:
prepareCelGoe_df['ZONENAME'].fillna('None',inplace = True)
prepareCelGoe_df

Telecom Dataset 1

In [65]:
# Check for missing values

preparetelco_df = df_telc_1.copy(deep=True)

In [66]:
# Checking the null values in
df_telc1_len = preparetelco_df.shape[0]

for column in preparetelco_df.columns:
  null_count = preparetelco_df[column].isnull().sum()
  if null_count == 0:
    continue
  
  null_ratio = np.round(null_count/df_len * 100, 2)
  print( column,"has ",null_count,"null Values ",null_ratio,"%")

SITE_ID has  716 null Values  18.02 %

In [ ]:
# Replacing the missing values
preparetelco_df['SITE_ID'].fillna('0',inplace = True)
preparetelco_df

Telecom Dataset 2

In [69]:
# Check for missing values

preparetelco2_df = df_telc_2.copy(deep=True)

In [71]:
# Checking the null values in
df_telc2_len = preparetelco2_df.shape[0]

for column in preparetelco2_df.columns:
  null_count = preparetelco2_df[column].isnull().sum()
  if null_count == 0:
    continue
  
  null_ratio = np.round(null_count/df_len * 100, 2)
  print( column,"has ",null_count,"null Values ",null_ratio,"%")

SITE_ID has  676 null Values  17.01 %

In [ ]:
# Replacing the missing values
preparetelco2_df['SITE_ID'].fillna('0',inplace = True)
preparetelco2_df

Telecom Dataset 3

In [73]:
preparetelco3_df = df_telc_3.copy(deep=True)

In [74]:
# Checking the null values in
df_telc3_len = preparetelco3_df.shape[0]

for column in preparetelco3_df.columns:
  null_count = preparetelco3_df[column].isnull().sum()
  if null_count == 0:
    continue
  
  null_ratio = np.round(null_count/df_len * 100, 2)
  print( column,"has ",null_count,"null Values ",null_ratio,"%")

SIET_ID has  605 null Values  15.22 %

In [ ]:
# Change the name SIET_ID to SITE_ID
df_new_telc3 = preparetelco3_df.rename(columns={'SIET_ID':'SITE_ID'})
df_new_telc3